*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #333;
    font-size: 100%;
    line-height: 1em;
}
#nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 90%;
    margin: auto;
}
#nav-container>#logo>img{
    width: 300px;
}
#nav-container>#services{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
#nav-container>#services>div:hover{
    color: #0087b4;
}
nav ul{
    position: absolute;
    list-style: none;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: #fff;
    top: 100px;
    width: 300px;
    left: 45%;
    border-radius: 10px;
    display: none;
}
[id^=btn]:checked + ul{
    display: block;
}
nav .menu::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: white;
    left: 150px;
    top: -10px;
    transform: rotate(45deg);
    /* z-index: -1; */
}
nav ul li{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
nav ul li div:nth-child(1){
    width: 80px;
    margin-left: -30px;
}
nav ul li div:nth-child(1) img{
    width: 80%;
}
nav ul li div:nth-child(2){
    line-height: 10px;
}
nav ul li div:nth-child(2) p:nth-child(1){
    color: rgb(100, 100, 100);
    font-size: 16px;
    font-weight: 600;
}
nav ul li div:nth-child(2) p:nth-child(1):hover{
    color: #217e9e;
}
nav ul li div:nth-child(2) p:nth-child(2){
    color: #afafaf;
    font-size: 14px;
}
#btn{
    display: none;
}
#nav-container>#services>div>button{
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #217e9e;
    color: #217e9e;
}
#nav-container>#services>div>button:hover{
    background-color: #0087b4;
    color: white;
    transition: 1s ease;
}
#box-1{
    margin: 4% 0;
}
#box-1>div{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#box-1>div>div:nth-child(1){
    width: 60%;
    padding-right: 4%;
}
#box-1>div>div:nth-child(2){
    width: 40%;
}
#box-1>div>div>h1{
    margin: 2% 0;
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 2.74em;
    line-height: 1.3em;
    letter-spacing: .5px;
    font-weight: 700;
}
#box-1>div>div>h4{
    margin: 4% 0;
    padding-right: 4%;
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 1.76em;
    letter-spacing: .5px;
    line-height: 1.5em;
    font-weight: 400;
}
#box-1>div>div>#green{
    color: #5da151;
    font-weight: 750;
}
#box-1>div>div>img{
    float: right;
}
#box-1>div>div>button,#box-5>div>button{
    font-size: 1.2em;
    padding: 20px 100px;
    border-radius: 5px;
    border: none;
    background-color: #5da151;
    color: white;
    font-weight: bold;
}
hr{
    width: 60%;
    background-color: #111;
    margin-top: 6%;
}
#box-2{
    width: 100%;
    text-align: center;
}
#box-21{
    padding-top: 80px;
    margin: auto;
}
#box-21>h2,#box-5>div>h3{
    font-size: 3em;
    line-height: 50px;
    color: #4f4e53;
    margin: -10px 0;
}
#box-21>p,#box-5>div>p{
    font-size: 1.8em;
    color: #4f4e53;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 40px;
}
#box-22{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
#box-22>div{
    width: 30%;
    padding: 20px;
    letter-spacing: 1px;
}
#box-22>div>h3{
    font-size: 22px;
    color: #4f4e53;
    font-weight: 600;
    line-height: 25px;
}
#box-22>div>p{
    font-size: 18px;
    line-height: 25px;
}
#box-22>div>img{
    width: 100px;
    height: 100px;
}
#box-5{
    margin-top: 4%;
    background-color: #f8f8f8;
    padding: 100px 0;
}
#box-5>div{
    position: relative;
    top: 30%;
    width: 35%;
    margin: auto;
    text-align: center;
}
#box-5>div>button{
    font-size: 1.2em;
    padding: 20px 100px;
    border-radius: 5px;
    border: none;
    background-color: #5da151;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}
#box-5>div>button:hover,#box-1>div>div>button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}